body {
  font-family: Helvetica;

}

.header {
  background: url("/Users/bnd918/Documents/Projects/Broadway/Resources/Images/the-flatiron-building.png");
  text-align: center;
  color: white;
}

.supporting {
  text-align: center;
}

.nav {
  font-size: 18px;
  color: white;

h1, h2, h3 {
  font-weight: bold;

}

h1 {
  font-size: 70px;
  color: white;

}

h2 {
  font-size: 32px;

}

h3 {
  font-size: 23px;

}

p {
  font-size: 14px;

}
