body {
  font-family: Helvetica;

}

.header {
  background: url(../Images/the-flatiron-building.png);
  background-size: 100% 100%;
  text-align: center;
  color: white;

}

.nav {
  font-size: 18px;
  color: white;

}

.process {
  text-align: center;
  font weight: bold;

}

.process-item {
  display: block;

}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

h1, h2, h3 {
  font-weight: bold;

}

h1 {
  font-size: 70px;
  color: white;

}

h2 {
  font-size: 32px;

}

h3 {
  font-size: 23px;

}

p {
  font-size: 14px;

}
